body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background */
}

h1 {
    color: #007bff; /* Blue color */
    text-align: center;
}

h2 {
    color: #343a40; /* Dark color */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40; /* Dark footer */
    color: white; /* White text */
}